html {
  overflow: hidden;
}

body {
  margin: 0;
}

.raccoon .dots {
  position: absolute;
  width: 342px;
  height: 288px;
  top: 10px;
  left: 7px;
  object-fit: cover;
}

.raccoon {
  display: inline-flex;
  flex-direction: column;
  height: auto;
  align-items: flex-start;
  gap: 6px;
  padding: 6px;
  border: 1px solid transparent;
}

.raccoon .body {
  display: flex;
  flex-direction: column;
  min-height: 185px;
  align-items: flex-start;
  gap: 8px;
  position: relative;
  flex: 1;
  align-self: stretch;
  width: 100%;
  border-radius: 8px;
}

.raccoon .inbox {
  display: flex;
  flex-direction: column;
  width: 276px;
  align-items: flex-start;
  gap: 8px;
  padding: 8px 6px 0;
}

.raccoon .text-wrapper {
  cursor: default;
  margin-top: -1px;
  opacity: 0.5;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  color: #2d2d2d;
  font-size: 11px;
  text-align: center;
}

.raccoon .inbox-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  align-self: stretch;
  width: 100%;
}

.raccoon .mail {
  display: flex;
  align-items: flex-start;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  width: 100%;
  height: 20px;
}

.raccoon .mail-container {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  width: 100%;
  height: 20px;
}

.raccoon .subject {
  cursor: pointer;
  margin-top: -1px;
  opacity: 0.8;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  color: #2d2d2d;
  font-size: 12px;
  text-align: center;
  margin: 0;
  transition: all 0.2s ease-in-out;
}

.raccoon .subject:hover {
  opacity: 0.6 !important;
}

.raccoon .magic {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  padding: 8px;
  background-color: #0000000d;
  border-radius: 8px;
}

.raccoon .text-wrapper-2 {
  font-family: "Inter", sans-serif;
  font-weight: 800;
  color: #2c2c2c;
  font-size: 20px;
  text-align: center;
}

.raccoon .x-close {
  position: absolute;
  width: 12px;
  height: 12px;
  top: 12px;
  right: 12px;
}

.raccoon .actions {
  display: flex;
  align-items: flex-start;
  gap: 6px;
  position: relative;
  flex: 1;
  align-self: stretch;
  width: 100%;
  background: #2c2c2cf0;
  border-radius: 8px;
  transition: all 0.2s ease-in-out;
}

.actions:hover {
  background-color: #2c2c2c;
}

.raccoon .current-mail-wrapper {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px 14px;
  flex: 1;
  align-self: stretch;
  border-radius: 8px;
}

.raccoon .current-mail {
  flex: 1;
  margin-top: -1px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  color: #ececec;
  font-size: 15px;
}

.raccoon .refresh {
  cursor: pointer;
  display: flex;
  max-width: 18px;
  align-items: center;
  justify-content: center;
  padding: 8px 14px;
  flex: 1;
  align-self: stretch;
  border-radius: 8px;
}

.raccoon .img {
  width: 18px;
  height: 18px;
  margin-left: -5px;
  margin-right: -5px;
}

.code-container {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 4px 6px;
  background-color: #ffffff99;
  border-radius: 54px;
  backdrop-filter: blur(105px);
  -webkit-backdrop-filter: blur(105px);
  transition: all 0.2s ease-in-out;;
}

.code-container:hover {
  opacity: 0.8;
}

.code {
  opacity: 0.5;
  font-size: 10px;
  font-family: "Inter-SemiBold", sans-serif;
  font-weight: 600;
  color: #2d2d2d;
  text-align: center;
}

.opened {
  opacity: 0.8 !important;
}

/* Fade in animation */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

/* Fade out animation */
@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

/* Class to control the fade in effect */
.fade-in {
  animation: fadeIn 1s forwards; /* Adjust the duration as needed */
}

/* Class to control the fade out effect */
.fade-out {
  animation: fadeOut 1s forwards; /* Adjust the duration as needed */
}

